body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.img-nebula1 {
  float: left;
  margin: 15px 15px 15px 0;
  width: 300px;
}

.img-nebula2 {
  float: right;
  margin: 15px 0 15px 15px;
  width: 300px;
}
